* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #FFA500;
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    flex-shrink: 0;
}

.container {
    display: flex;
    flex: 1;
    height: calc(100vh - 100px); /* Resta el espacio del header y footer */
}

.nav {
    background-color: #0000FF;
    color: white;
    width: 20%;
    padding: 1rem;
    flex-shrink: 0;
}

.nav ul {
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: white;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 80%;
    background-color: #008000; 
    color: white;
    padding: 1rem;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Para redondear la imagen */
    flex-shrink: 0;
}

.content {
    flex: 1;
}

.footer {
    background-color: #800000;
    color: white;
    text-align: center;
    padding: 1rem;
    height: 50px;
    flex-shrink: 0;
}
